$brown-color: #622E10;
$green-color: #306431;
$blue-color: #78BAB9;
$black-color: #333333;
$yellow-color: #F4D54B;
$grey-color: #C0C49B;
$white-color: #ffffff;
$search-color: #F0EBE8;

.cartBag{
    display: flex;
    flex-wrap: wrap;
    max-width: 65rem;
    margin: auto;
    padding: 2rem 0;

    h3{
        font-size: 1rem;
        text-transform: uppercase;
    }
    .cartBagItems{
        flex: 5;
        display: flex;
        flex-direction: column;
        border-right: 1px solid $grey-color;
        // justify-content: center;
        font-size: 1rem;
        padding: 1rem 1rem;
        color: $brown-color;
        
        .HeaderCartItemCard{
            border: 1px solid $grey-color;
            margin: 0.5rem 0;
            padding: 0.5rem;
        }
    }
    .cartBagPayment{
        flex: 2;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    
        h3{
            font-size: 1rem;
            color: $brown-color;
            text-transform: uppercase;
    
            span{
                text-transform: capitalize;
            }
        }
    
        >div {
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            margin: 0.4rem 0;
        }
        p{
            margin: 0;
    
        }
        strong{
            font-weight: 600;
        }
    
    }
}