.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after{
    display: none;
}
.dropdown-menu{
    position: absolute;
    right: 0;
    padding: 1rem 0.5rem;
}
.dropdown-menu > li{
    padding: 0.2rem 0;
}
