$brown-color: #622E10;
$green-color: #306431;
$blue-color: #78BAB9;
$black-color: #333333;
$yellow-color: #F4D54B;
$grey-color: #C0C49B;
$white-color: #ffffff;


.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after{
    display: none;
}
.dropdown-menu{
    position: absolute;
    right: 0;
    padding: 1rem 0.5rem;
}
.dropdown-menu > li{
    padding: 0.2rem 0;
}


.offcanvas-title{
    color: $brown-color;
}

.HeaderCartItemCard{
    display: flex;
    margin: 1rem 0;


    >img{
        width: 110px;
        margin-right: 0.8rem;
    }

    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.9rem;
        padding: 0.3rem;
        width: 100%;

        a{
            text-decoration: none;
            color: $brown-color;
        }
    }

    .cart-p-quantity{
        border: 1px solid $black-color;
        display: inline-flex;
        width: fit-content;
        margin: 0.5rem 0;

        button{
            border: none;
            background: none;
            color: $black-color;
            font-weight: 500;
            padding: 0.2rem 0.6rem;
        }

        input{
            border: none;
            outline: none;
            font-size: 0.8rem;
            text-align: center;
            width: 1.2rem;
            color: $black-color;
        }
    }

    >div>div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        p{
            margin: 0;
            font-size: 0.7rem;
            color: $brown-color;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }
    }


}

.checkout-btn {
    border: none;
    background: $black-color;
    color: #fff;
    margin: 1rem;
    padding: 0.5rem 0;
    font-weight: lighter;
    font-size: 1.1rem;
    
    svg{
        font-size: 0.3rem;
        margin: 0 0.5rem;
    }
}


.EmptyCart{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    svg{
        font-size: 2.5rem;
        color: $brown-color;
    }

    p{
        margin: 0.8rem 0;
        font-size: 1.2rem;
        font-weight: 500;
    }
    a{
        text-decoration: none;
        background-color: $black-color;
        color: $white-color;
        padding: 0.5rem 1.5rem;
    }
}