$brown-color: #622E10;
$green-color: #306431;
$blue-color: #78BAB9;
$black-color: #333333;
$yellow-color: #F4D54B;
$grey-color: #C0C49B;
$white-color: #ffffff;
$search-color: #F0EBE8;


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: $white-color;
    padding: 0;
    
    .navbox{
        display: flex;
        z-index: 999;
        align-items: center;
        width: 100vw;
        padding: 0.4rem 1.5rem;
        background: $white-color;
        position: relative;
        border-bottom: 0.75px solid $grey-color;
    }

    .nav-left{
        display: flex;
        width: 10%;
        // justify-content: center;

        .logo {
            width: 100px;
        }
    }


    .nav-right{
        display: flex;
        flex-direction: column;
        width: 90%;
        // background: red;

        .nav-up{
            display: flex;
            align-items: center;
            width: 100%;
            // background: gray;
            
            .img-div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                // background: red;
                .logo-raasiya {
                        width: 8rem;
                    }
            }
            .input-div{
                display: flex;
                align-items: center;

                svg{
                    position: absolute;
                    transform: translateX(0.8rem);
                    width: 1rem;
                }

                .search {
                    background-color: $search-color;
                    color: $black-color;
                    width: fit-content;
                    outline: none;
                    border: none;
                    padding: 0.5rem 0.5rem 0.5rem 2.2rem;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                    min-width: 18rem;
                }

                ::placeholder {
                    color: $brown-color;
                    opacity: 1;
                }

                :-ms-input-placeholder {
                    color: $brown-color;
                }

                ::-webkit-input-placeholder {
                    color: $brown-color;
                }
                ::-moz-placeholder{
                    color: $brown-color;
                }
                [type="search"]::-webkit-search-cancel-button{
                    -webkit-appearance: none;
                    background-color: $brown-color ;
                    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
                    height: 1.2rem;
                    width: 1.2rem;
                }
            }
        }

        .nav-down{
            display: flex;
            width: 100%;
            padding: 1rem 0 0;

            ul{
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;

                svg{
                    width: 1.3rem;
                }
            }

            .nav-down-1{
                width: 100%;
                justify-content: center;
                font-weight: 500;
                // background: red;
                
                li{
                    margin: 0 0.4rem;
                    
                    a{
                        color: $brown-color;
                        text-decoration: none;
                        position: relative;
                        padding: 0 0.1rem;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 0;
                            width: 0;
                            border-bottom: 2px solid $brown-color;
                            transition: width 0.3s ease;
                        }

                        &:hover::after{
                            width: 100%;
                        }
                    }
                }
            }
            .nav-down-2{
                width: fit-content;
                justify-content: end;
                min-width: 18rem;
                // background: yellow;
                li{
                    margin: 0 0.5rem;
                    cursor: pointer;
                }
            }
        }
    }
}


.offcanvas-title {
    color: $brown-color;
}

.HeaderCartItemCard {
    display: flex;
    margin: 1rem 0;


    >img {
        width: 110px;
        margin-right: 0.8rem;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.9rem;
        padding: 0.3rem;
        width: 100%;

        a {
            text-decoration: none;
            color: $brown-color;
        }
    }

    .cart-p-quantity {
        border: 1px solid $black-color;
        display: inline-flex;
        width: fit-content;
        margin: 0.5rem 0;

        button {
            border: none;
            background: none;
            color: $black-color;
            font-weight: 500;
            padding: 0.2rem 0.6rem;
        }

        input {
            border: none;
            outline: none;
            font-size: 0.8rem;
            text-align: center;
            width: 1.2rem;
            color: $black-color;
        }
    }

    >div>div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            margin: 0;
            font-size: 0.7rem;
            color: $brown-color;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }


}

.checkout-btn {
    border: none;
    background: $black-color;
    color: #fff;
    margin: 1rem;
    padding: 0.5rem 0;
    font-weight: lighter;
    font-size: 1.1rem;

    svg {
        font-size: 0.3rem;
        margin: 0 0.5rem;
    }
}


.EmptyCart {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    svg {
        font-size: 2.5rem;
        color: $brown-color;
    }

    p {
        margin: 0.8rem 0;
        font-size: 1.2rem;
        font-weight: 500;
    }

    a {
        text-decoration: none;
        background-color: $black-color;
        color: $white-color;
        padding: 0.5rem 1.5rem;
    }
}


.account-menu .MuiPaper-root {
    margin-top: 1rem;
    border-top: 2px solid $brown-color;
}