$brown-color: #622E10;
$green-color: #306431;
$blue-color: #78BAB9;
$black-color: #333333;
$yellow-color: #F4D54B;
$grey-color: #C0C49B;
$white-color: #ffffff;

.newStory{
    // background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 90rem;
    margin: auto    ;

    .text-editor{
        background: white;
        margin: 1rem;
        h1{
            text-align: center;
            color: $brown-color;
        }
    }
    .ql-editor {
        min-height: 10rem;
    }
    form > div{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }
}