$brown-color: #622E10;
$green-color: #306431;
$blue-color: #78BAB9;
$black-color: #333333;
$yellow-color: #F4D54B;
$grey-color: #C0C49B;
$white-color: #ffffff;


.story{
    font-family: Poppins, serif;
    // background: red;
    padding: 3rem 0;
    display: flex;
    max-width: 70rem;
    margin: 0 auto;

    .story-title{
        font-size: 2rem;
        font-weight: 500;
        color: $brown-color;
        margin-bottom: 1rem;
        text-align: center;
    }
    .story-thumbnail{
        width: 100%;
        height: 100%;
        aspect-ratio: 3;
        margin-top: 1rem;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .quill{
        padding: 0;
    }
    .story-content{
        margin-top: 1rem;
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: justify;


        h1{
            font-size: 1.5rem;
            font-weight: 500;
            color: $black-color;
            margin-bottom: 1rem;
        }
        h2{
            font-size: 1.3rem;
            font-weight: 500;
            color: $black-color;
            margin-bottom: 1rem;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p{
            font-size: 1.1rem;
            margin: 0;
            color: $black-color;
            margin-bottom: 0.5rem;
        }
    }
}