.review{
    width: 19rem;
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    margin: 0.3rem; 
}
.review > div{
    display: flex;
    align-items: center;
}
.review strong{
    font-weight: 500;
    font-size: 1rem;
}

.review img{
    width: 2.5rem;
    margin-right: 0.5rem;
}
.review p{
    margin: 0;
    font-size: 0.9rem;
}